$primary-white: #fff;
$black: #000;
$orange-900: #ff6838;
$silver-100: #f9faff;
$silver-200: #ececec;
$gray: #c2c2c2;
$lightGray: #eeeff3;
$darkBlue-900: #363853;
$dark: #31352b;
$blue: #00aaff;
$red: #ff2222;

$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
   $width: map_get($breakpoints, $width);
   @if $type == max {
    $width: $width - 1px;
   }
   @media only screen and (#{$type}-width: $width) {
    @content;
   }
  }
}

@mixin line-clamp($lines: 1) {
    @if $lines <=1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } @else {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
    }
  }
  