<section class="section hero">
    <div class="container">
        <div class="bg-properties hero__wrapper" style="background-image: url('images/scooter-guy.png')">
            <div class="hero__inner">
                <h1 class="visually-hidden">SimpleFood - заказ еды c доставкой.</h1>
                <div class="hero__caption">доставка
                    <span class="hero__caption hero__caption--orange">за 15 минут</span>
                </div>
                <div class="hero__text">
                    <p>Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш
                        счёт.</p>
                </div>
                <button class="button hero__btn" type="button">Заказать</button>
                <a class="link hero__link" href="#">Подробнее</a>
            </div>
        </div>
    </div>
</section>