<section class="section popular">
    <div class="container">
        <h2 class="title popular__title">Популярные категории</h2>

        <ul class="category">
            <li class="category__item">
                <button class="category__btn category__btn--burger" type="button" data-filter=".category-burger">
                    Бургеры
                </button>
            </li>
            <li class="category__item">
                <button class="category__btn category__btn--pizza" type="button" data-filter=".category-pizza">
                    Пицца
                </button>
            </li>
            <li class="category__item">
                <button class="category__btn category__btn--sandwich" type="button" data-filter=".category-sandwich">
                    Сендвичи
                </button>
            </li>
            <li class="category__item">
                <button class="category__btn category__btn--asia" type="button" data-filter=".category-asia">
                    Азиатская кухня
                </button>
            </li>
            <li class="category__item">
                <button class="category__btn category__btn--sets" type="button" data-filter=".category-sets">
                    Сеты
                </button>
            </li>
        </ul>

        <ul class="food">
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/cheeseburger.jpg"
                            alt="Чизбургер с листьями салата" width="140" height="140">
                        <h3 class="food-card__title">Чизбургер с листьями салата</h3>
                    </a>
                    <div class="food-card__price">160
                        <span class="food-card__currency">грн.</span>
                    </div>

                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/beefburger.jpg" alt="Бифбургер"
                            width="140" height="140">
                        <h3 class="food-card__title">Бифбургер</h3>
                    </a>
                    <div class="food-card__price">190
                        <span class="food-card__currency">грн.</span>
                    </div>

                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/royal-cheeseburger.jpg"
                            alt="Королевский чизбургер" width="140" height="140">
                        <h3 class="food-card__title">Королевский чизбургер</h3>
                    </a>
                    <div class="food-card__price">260
                        <span class="food-card__currency">грн.</span>
                    </div>

                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/black-hamburger.jpg"
                            alt="Черный гамбургер" width="140" height="140">
                        <h3 class="food-card__title">Черный гамбургер</h3>
                    </a>
                    <div class="food-card__price">199
                        <span class="food-card__currency">грн.</span>
                    </div>

                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/chicken-burger.jpg"
                            alt="Чикен бургер" width="140" height="140">
                        <h3 class="food-card__title">Чикен бургер</h3>
                    </a>
                    <div class="food-card__price">180
                        <span class="food-card__currency">грн.</span>
                    </div>

                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/cheeseburger.jpg"
                            alt="Чизбургер с листьями салата" width="140" height="140">
                        <h3 class="food-card__title">Чизбургер с листьями салата</h3>
                    </a>
                    <div class="food-card__price">160
                        <span class="food-card__currency">грн.</span>
                    </div>

                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/beefburger.jpg" alt="Бифбургер"
                            width="140" height="140">
                        <h3 class="food-card__title">Бифбургер</h3>
                    </a>
                    <div class="food-card__price">190
                        <span class="food-card__currency">грн.</span>
                    </div>

                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/royal-cheeseburger.jpg"
                            alt="Королевский чизбургер" width="140" height="140">
                        <h3 class="food-card__title">Королевский чизбургер</h3>
                    </a>
                    <div class="food-card__price">260
                        <span class="food-card__currency">грн.</span>
                    </div>

                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/black-hamburger.jpg"
                            alt="Черный гамбургер" width="140" height="140">
                        <h3 class="food-card__title">Черный гамбургер</h3>
                    </a>
                    <div class="food-card__price">199
                        <span class="food-card__currency">грн.</span>
                    </div>

                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="food__item mix category-burger">
                <article class="food-card">
                    <a class="food-card__link" href="#">
                        <img class="bg-properties food-card__image" src="images/burgers/chicken-burger.jpg"
                            alt="Чикен бургер" width="140" height="140">
                        <h3 class="food-card__title">Чикен бургер</h3>
                    </a>
                    <div class="food-card__price">180
                        <span class="food-card__currency">грн.</span>
                    </div>
                    <button class="button food-card__btn" type="button">В корзину</button>
                </article>
            </li>
        </ul>

        <button class="link food__button">Показать еще</button>
    </div>
</section>