<section class="section reviews">
    <div class="container">
        <h2 class="title">Отзывы клиентов</h2>
        <div class="reviews-slider">
            <div class="reviews-slider__list">
                <div class="reviews-slider__item">
                    <figure class="review">
                        <img class="review__photo" src="images/review-photo.jpg" alt="Дарья фото">
                        <div class="review__inner">
                            <blockquote class="review__blockquote">
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень
                                удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                                проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </blockquote>
                            <span class="review__author">Дарья</span>
                            <span class="review__rank">Ценитель вкусной еды</span>
                        </div>
                    </figure>
                </div>
                <div class="reviews-slider__item">
                    <figure class="review">
                        <img class="review__photo" src="images/review-photo.jpg" alt="Дарья фото">
                        <div class="review__inner">
                            <blockquote class="review__blockquote">
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень
                                удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                                проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </blockquote>
                            <span class="review__author">Дарья</span>
                            <span class="review__rank">Ценитель вкусной еды</span>
                    </figure>
                </div>
                <div class="reviews-slider__item">
                    <figure class="review">
                        <img class="review__photo" src="images/review-photo.jpg" alt="Дарья фото">
                        <div class="review__inner">
                            <blockquote class="review__blockquote">
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень
                                удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                                проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </blockquote>
                            <span class="review__author">Дарья</span>
                            <span class="review__rank">Ценитель вкусной еды</span>
                        </div>
                    </figure>
                </div>
                <div class="reviews-slider__item">
                    <figure class="review">
                        <img class="review__photo" src="images/review-photo.jpg" alt="Дарья фото">
                        <div class="review__inner">
                            <blockquote class="review__blockquote">
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень
                                удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                                проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </blockquote>
                            <span class="review__author">Дарья</span>
                            <span class="review__rank">Ценитель вкусной еды</span>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="reviews-slider__controls"></div>
        </div>
    </div>
</section>