.header {
    position: fixed;
    line-height: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $silver-100;
    padding: 58px 20px;
    transition: background-color .7s, padding .7s;
    z-index: 3;

    @include mq('tablet') {
        padding: 24px 0;
    }

    @include mq('phone') {
        padding: 15px 0;
    }

    &__sticky {
        position: fixed;
        background-color: $silver-100;
        z-index: 1;
        box-shadow: 0px 0px 5px 0px $dark;
        padding: 10px 0;
        z-index: 3;
    }
}

.logo {
    display: inline-block;
    transition: opacity .5s, outline .5s;

    @include mq('tablet') {
        max-width: 150px;
    }

    @include mq('phone') {
        max-width: 115px;
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }

    &__footer {
        margin-bottom: 25px;

        @include mq('tablet') {
            min-width: 200px;
            height: 39px;
        }
    
    }

}



.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        margin: 0 50px 0 auto;

        @include mq('tablet') {
            position: absolute;
            display: block;
            left: 0;
            right: 75px;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            z-index: 2;
            padding: 100px 0 10px;
            transform: translateX(-200%);
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 45px;
        }
    }

    &__link {
        font-size: 18px;

        &--active {
            color: $orange-900;
        }
    }
}


.header-actions {
    display: flex;

    @include mq('tablet') {
        margin: 0 14px 0 auto;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__button {
        position: relative;
        width: 44px;
        height: 44px;
        border-radius: 5px;
        transition: background-color 1s, outline .5s;

        &::before {
            content: "";
            position: absolute;
            left: 13px;
            top: 13px;
            width: 19px;
            height: 19px;
            background-color: $darkBlue-900;
            transition: background-color .7s;
        }

        &--search {
            &::before {
                mask-image: url('../images/sprite.svg#icon-search');
            }
        }

        &--cart {
            position: relative;

            &::before {
                mask-image: url('../images/sprite.svg#icon-cart');
            }

        }

        &:focus {
            background-color: rgba($orange-900, 0.1);
        }

        &:hover {
            color: $orange-900;
            background-color: $orange-900;
        }

        &:hover::before {
            background-color: $primary-white;
        }

        &:hover::before,
        &:hover>.header-actions__counter {
            color: $orange-900;
            background-color: $primary-white;
        }

        &:active {
            outline: transparent;
            background-color: rgba($orange-900, 0.1);
        }

        &:active::before {
            background-color: $darkBlue-900;
        }

        &:active>.header-actions__counter {
            color: $primary-white;
            background-color: $orange-900;
        }
    }

    &__counter {
        position: absolute;
        display: block;
        min-width: 14px;
        min-height: 14px;
        font-size: 10px;
        line-height: 1.5;
        color: $primary-white;
        background-color: $orange-900;
        border-radius: 7px;
        top: 7px;
        left: 25px;
        padding: 0 5px;
        transition: background-color .7s, color .7s;
    }
}

.burger-btn {
    display: none;
    
    position: relative;
    color: $darkBlue-900;
    margin-right: 10px;
    z-index: 3;

    &--open {
        width: 30px;
        height: 20px;
    }

    @include mq('tablet') {
        display: block;
    }

    &__line {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: $darkBlue-900;
        transition: transform 0.3s ease-in-out;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $darkBlue-900;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::before {
        top: 0;
    }

    &::after {
        top: calc(100% - 2px);
    }

}