<header class="header">
    <div class="container">

        <nav class="header-menu">
            <a class="logo" href="#">
                <img class="logo__img" src="images/logo.svg" alt="Логотип компании SimpleFood" width="200" height="39">
            </a>
            <ul class="header-menu__list">
                <li class="header-menu__item">
                    <a class="header-menu__link header-menu__link--active" href="#">Главная</a>
                </li>
                <li class="header-menu__item">
                    <a class="header-menu__link" href="#">Блюда</a>
                </li>
                <li class="header-menu__item">
                    <a class="header-menu__link" href="#">Контакты</a>
                </li>
            </ul>

            <ul class="header-actions">
                <li class="header-actions__item">
                    <button class="header-actions__button header-actions__button--search" type="button">
                        <span class="visually-hidden">Искать блюдо</span>
                    </button>
                </li>
                <li class="header-actions__item">
                    <button class="header-actions__button header-actions__button--cart" type="button">
                        <span class="visually-hidden">Показать заказы в корзине</span>
                        <span class="header-actions__counter">
                            <span class="visually-hidden">Товаров в корзине</span>
                            4
                        </span>
                    </button>
                </li>
            </ul>
        </nav>

    </div>
</header>