<section class="section restaurants">
    <div class="container">
        <h2 class="title">Лучшие рестораны</h2>

        <ul class="restaurants__list">
            <li class="restaurants__item">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="bg-properties restaurant-card__image" src="images/restaurants/blaze-pizza.jpg"
                            alt="Блэйз Пицца" height="300">
                    </a>
                    <div class="restaurant-card__container">
                        <h3 class="restaurant-card__title">Blaze Pizza</h3>
                        <span class="restaurant-card__time">11:00 - 22:00</span>
                        <a class="button restaurant-card__btn" href="#">
                            <span class="visually-hidden">Перейти в Blaze Pizza</span>
                        </a>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="bg-properties restaurant-card__image" src="images/restaurants/pizza-runcho.jpg"
                            alt="Пицца ранчо" height="300">
                    </a>
                    <div class="restaurant-card__container">
                        <h3 class="restaurant-card__title">Pizza Runcho</h3>
                        <span class="restaurant-card__time">11:00 - 22:00</span>
                        <a class="button restaurant-card__btn" href="#">
                            <span class="visually-hidden">Перейти в Pizza Runcho</span>
                        </a>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="bg-properties restaurant-card__image" src="images/restaurants/pizza-hut.jpg"
                            alt="Пицца хат" height="300">
                    </a>
                    <div class="restaurant-card__container">
                        <h3 class="restaurant-card__title">Pizza Hut</h3>
                        <span class="restaurant-card__time">11:00 - 22:00</span>
                        <a class="button restaurant-card__btn" href="#">
                            <span class="visually-hidden">Перейти в Pizza Hut</span>
                        </a>
                    </div>
                </article>
            </li>
            <li class="restaurants__item">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="bg-properties restaurant-card__image" src="images/restaurants/macdonalds.jpg"
                            alt="Макдоналдс" height="300">
                    </a>
                    <div class="restaurant-card__container">
                        <h3 class="restaurant-card__title">McDonald`s</h3>
                        <span class="restaurant-card__time">11:00 - 22:00</span>
                        <a class="button restaurant-card__btn" href="#">
                            <span class="visually-hidden">Перейти в McDonald`s</span>
                        </a>
                    </div>
                </article>
            </li>
            <li class="restauranst__item">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="bg-properties restaurant-card__image" src="images/restaurants/kfc.jpg" alt="КФС"
                            height="300">
                    </a>
                    <div class="restaurant-card__container">
                        <h3 class="restaurant-card__title">KFC</h3>
                        <span class="restaurant-card__time">11:00 - 22:00</span>
                        <a class="button restaurant-card__btn" href="#">
                            <span class="visually-hidden">Перейти в KFC</span>
                        </a>
                    </div>
                </article>
            </li>
            <li class="restauranst__item">
                <article class="restaurant-card">
                    <a class="restaurant-card__link" href="#">
                        <img class="bg-properties restaurant-card__image" src="images/restaurants/star-burger.jpg"
                            alt="Стар бургер" height="300">
                    </a>
                    <div class="restaurant-card__container">
                        <h3 class="restaurant-card__title">Star Burgers</h3>
                        <span class="restaurant-card__time">11:00 - 22:00</span>
                        <a class="button restaurant-card__btn" href="#">
                            <span class="visually-hidden">Перейти в Star Burgers</span>
                        </a>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>