<section class="section reviews">
    <div class="container">
        <h2 class="title">Отзывы клиентов</h2>
        <ul class="reviews-slider">
            <li class="reviews-slider__item">
                <figure class="reviews-slider__quote">
                    <img class="reviews-slider__photo" src="images/review-photo.jpg" alt="Дарья фото">
                    <div class="reviews-slider__inner">
                        <blockquote class="reviews-slider__blockquote">
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень
                            удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                            проводит акции и дарит скидки на доставку - однозначно рекомендую!
                        </blockquote>
                        <span class="reviews-slider__author">Дарья</span>
                        <span class="reviews-slider__rank">Ценитель вкусной еды</span>
                        <span class="visually-hidden">Свайп влево для следующего комментария</span>
                    </div>
                </figure>
            </li>
            <li class="reviews-slider__item">
                <figure class="reviews-slider__quote">
                    <img class="reviews-slider__photo" src="images/review-photo.jpg" alt="Дарья фото">
                    <div class="reviews-slider__inner">
                        <blockquote class="reviews-slider__blockquote">
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень
                            удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                            проводит акции и дарит скидки на доставку - однозначно рекомендую!
                        </blockquote>
                        <span class="reviews-slider__author">Дарья</span>
                        <span class="reviews-slider__rank">Ценитель вкусной еды</span>
                        <span class="visually-hidden">Свайп влево для следующего комментария</span>
                    </div>
                </figure>
            </li>
            <li class="reviews-slider__item">
                <figure class="reviews-slider__quote">
                    <img class="reviews-slider__photo" src="images/review-photo.jpg" alt="Дарья фото">
                    <div class="reviews-slider__inner">
                        <blockquote class="reviews-slider__blockquote">
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень
                            удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                            проводит акции и дарит скидки на доставку - однозначно рекомендую!
                        </blockquote>
                        <span class="reviews-slider__author">Дарья</span>
                        <span class="reviews-slider__rank">Ценитель вкусной еды</span>
                        <span class="visually-hidden">Свайп влево для следующего комментария</span>
                    </div>
                </figure>
            </li>
            <li class="reviews-slider__item">
                <figure class="reviews-slider__quote">
                    <img class="reviews-slider__photo" src="images/review-photo.jpg" alt="Дарья фото">
                    <div class="reviews-slider__inner">
                        <blockquote class="reviews-slider__blockquote">
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень
                            удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                            проводит акции и дарит скидки на доставку - однозначно рекомендую!
                        </blockquote>
                        <span class="reviews-slider__author">Дарья</span>
                        <span class="reviews-slider__rank">Ценитель вкусной еды</span>
                        <span class="visually-hidden">Свайп влево для следующего комментария</span>
                    </div>
                </figure>
            </li>
        </ul>
    </div>
</section>