<section class="product">

    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a class="link breadcrumbs__link" href="#">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="link breadcrumbs__link" href="#">Каталог товаров</a>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__link" href="#">Чизбургер с листьями салата</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="product__top-wrapper">

            <div class="product-slider swiper">
                <div class="product-slider__image swiper-wrapper">
                    <div class="product-slider__slide swiper-slide">
                        <div class="product-slider__image swiper-zoom-container">
                            <a class="product-slider__gallery" data-fancybox="gallery" href="images/burger.jpg">
                                <img src="images/burger.jpg" alt="Чизбургер с листьями салата">
                            </a>
                        </div>
                    </div>
                    <div class="product-slider__slide swiper-slide">
                        <div class="product-slider__image swiper-zoom-container">
                            <a class="product-slider__gallery" data-fancybox="gallery" href="images/burger.jpg">
                                <img src="images/burger.jpg" alt="Чизбургер с листьями салата">
                        </div>
                    </div>
                    <div class="product-slider__slide swiper-slide">
                        <div class="product-slider__image swiper-zoom-container">
                            <a class="product-slider__gallery" data-fancybox="gallery" href="images/burger.jpg">
                                <img src="images/burger.jpg" alt="Чизбургер с листьями салата">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="product-slider__button product-slider__button--prev">
                    <span class="visually-hidden">Предыдущее изображение</span>
                </div>
                <div class="product-slider__button product-slider__button--next">
                    <span class="visually-hidden">Следующее изображение</span>
                </div>
            </div>

            <div class="product__content">
                <h2 class="title product__title">
                    Чизбургер с листьями салата
                </h2>
                <div class="product__rating" data-rateyo-rating="4"></div>
                <span class="product__price">160 грн.</span>
                <form class="product__form" action="#">
                    <label class="product__label" for="#"></label>
                    <input class="product__quantity" type="number" value="1" min="1">
                    <button class="button product__button" type="submit">Добавить в корзину</button>
                </form>
                <h3 class="product__shipping-title">Доставка и оплата</h3>
                <ul class="product__shipping-list">
                    <li class="product__shipping-item">
                        Минимальная сумма заказа — 160 грн.
                    </li>
                    <li class="product__shipping-item">
                        Время доставки заказа — 80-140 мин.
                    </li>
                    <li class="product__shipping-item">
                        Оплата осуществляется только банковской картой.
                    </li>
                    <li class="product__shipping-item">
                        Окончательная сумма заказа формируется после сбора товаров.
                    </li>
                </ul>
                <a href="#" class="link product__link">Подробнее</a>
            </div>
        </div>
        <div class="product-tabs">
            <ul class="product-tabs__list">
                <li class="product-tabs__item">
                    <a class="link product-tabs__link product-tabs__link--active" href="#tab-1">
                        <h3 class="product-tabs__title">
                            Описание
                        </h3>
                    </a>
                </li>
                <li class="product-tabs__item">
                    <a class="link product-tabs__link" href="#tab-2">
                        <h3 class="product-tabs__title">
                            Характеристики
                        </h3>
                    </a>
                </li>
                <li class="product-tabs__item">
                    <a class="link product-tabs__link" href="#tab-3">
                        <h3 class="product-tabs__title">
                            Отзывы
                            <span>(2)</span>
                        </h3>
                    </a>
                </li>
            </ul>
            <div class="product-tabs__content">
                <div class="product-tabs__block product-tabs__block--active" id="tab-1">
                    <p>
                        Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер»,
                        кетчупом, горчицей, луком и маринованными огурчиками.
                    </p>
                    <p>
                        Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
                    </p>
                    <p>
                        Внешний вид товара может отличаться от изображений, представленных на сайте.
                    </p>
                </div>
                <div class="product-tabs__block" id="tab-2">
                    <ul class="products-tabs__properties">
                        <li class="product-tabs__properties-item">
                            <span class="product-tabs__properties-value">
                                Диаметр:
                            </span> 
                            <span>20 см</span>
                        </li>
                        <li class="product-tabs__properties-item">
                            <span class="product-tabs__properties-value">
                                Вес:
                            </span> 
                            <span>300 гр</span>
                        </li>
                        <li class="product-tabs__properties-item">
                            <span class="product-tabs__properties-value">
                                Калорийность (на 100г):
                            </span> 
                            <span>295ккал</span>
                        </li>
                        <li class="product-tabs__properties-item">
                            <span class="product-tabs__properties-value">
                                Срок хранения:
                            </span>
                            <span>до 3 дней</span>
                        </li>
                    </ul>
                </div>
                <div class="product-tabs__block" id="tab-3">
                    <div class="product-reviews">

                        <h4 class="product-reviews__title">Мнения наших клиентов</h4>

                        <ul class="product-reviews__list">
                            <li class="product-reviews__item">
                                <article class="product-reviews__block">
                                    <div class="product-reviews__header">
                                        <img class="product-reviews__avatar" src="images/avatar.jpg"
                                            alt="Аватар пользователя">
                                        <div class="product-reviews__user">
                                            <div class="product-reviews__nickname">Андрей</div>
                                            <time class="product-reviews__time">10.06.2021</time>
                                        </div>
                                        <div class="product-reviews__rating" data-rateyo-rating="5"></div>
                                    </div>
                                    <div class="product-reviews__text">
                                        Доставили быстро. Товар свежий и очень вкусный, буду пробовать еще!))
                                    </div>
                                </article>
                            </li>
                            <li class="product-reviews__item">
                                <article class="product-reviews__block">
                                    <div class="product-reviews__header">
                                        <img class="product-reviews__avatar" src="images/avatar.jpg"
                                            alt="Аватар пользователя">
                                        <div class="product-reviews__user">
                                            <div class="product-reviews__nickname">Екатерина Белая</div>
                                            <time class="product-reviews__time">07.06.2021</time>
                                        </div>
                                        <div class="product-reviews__rating" data-rateyo-rating="4"></div>
                                    </div>
                                    <div class="product-reviews__text">
                                        этот бургер неплохой чтобы перекусить, когда нет возможности или времени
                                        что-нибудь приготовить. Это отличный вариант, чтобы съесть на ходу, но чтобы
                                        побаловать себя, я больше предпочту пиццу
                                    </div>
                                </article>
                            </li>
                        </ul>

                        <div class="review-form">
                            <h4 class="review-form__title">Оставить отзыв</h4>
                            <form class="review-form__form" action="#">
                                <div class="review-form__rating-block">
                                    <div class="review-form__label review-form__label--star">Ваша оценка *</div>
                                    <div class="review-rating">
                                        <label class="review-rating__label" for="star-rating"></label>
                                        <input class="review-rating__input" type="radio" name="rating" id="star-rating"
                                            required>
                                    </div>
                                </div>
                                <div class="review-form__container">
                                    <div class="review-form__item">
                                        <label class="review-form__label" for="review">Ваш отзыв *</label>
                                        <textarea class="review-form__field review-form__field--textarea"
                                            placeholder="Введите текст отзыва" name="review" id="review"
                                            required></textarea>
                                    </div>
                                    <div class="review-form__item">
                                        <lebel class="review-form__label" for="name">Имя</lebel>
                                        <input class="review-form__field review-form__field--name" type="text"
                                            placeholder="Введите имя" required>
                                        <lebel class="review-form__label" for="email">Email *</lebel>
                                        <input class="review-form__field" type="email" placeholder="youremail@mail.com"
                                            required>
                                    </div>
                                </div>
                                <input class="review-form__checkbox" type="checkbox" id="discount" name="discount">
                                <label class="review-form__checkbox-item" for="discount">Сохранить моё имя, email и
                                    адрес сайта в этом браузере для последующих моих комментариев.</label>
                                <button class="button review-form__btn">Оставить отзыв</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>